Repository kawashiro-juukou/nitori, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, test, package:nitori, package:nitori_core, package:nitori_client, package:nitori_server, package:nitor_messagei

.github/labeler.yml:

# This configures the .github/workflows/pull_request_labeler.yml workflow.

infra:
  - .github/**
  - tool/**

test:
  - pkgs/*/test/**

package:nitori:
  - pkgs/nitori/**

package:nitori_core:
  - pkgs/nitori_core/**

package:nitori_client:
  - pkgs/nitori_client/**

package:nitori_server:
  - pkgs/nitori_server/**

package:nitor_messagei:
  - pkgs/nitori_message/**

chore: prepare yo publish core module
  pkgs/nitori_core/.pubignore
  pkgs/nitori_core/CHANGELOG.md
  pkgs/nitori_core/pubspec.yaml
Labels: package:nitori_core

feat: add base event class
  pkgs/nitori_core/lib/src/base.dart
Labels: package:nitori_core

chore: add vscode dev container for developement
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: none

chore: add vscode dev container for developement (#16)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: none

refactor: migrate all core instances to use named parameter type
  pkgs/nitori_core/example/nitori_core_example.dart
  pkgs/nitori_core/lib/src/channel.dart
  pkgs/nitori_core/lib/src/channel.g.dart
  pkgs/nitori_core/lib/src/guild.dart
  pkgs/nitori_core/lib/src/guild.g.dart
  pkgs/nitori_core/lib/src/guild_member.dart
  pkgs/nitori_core/lib/src/guild_member.g.dart
  pkgs/nitori_core/lib/src/guild_role.dart
  pkgs/nitori_core/lib/src/guild_role.g.dart
  pkgs/nitori_core/lib/src/login.dart
  pkgs/nitori_core/lib/src/login.g.dart
  pkgs/nitori_core/lib/src/message.dart
  pkgs/nitori_core/lib/src/message.g.dart
  pkgs/nitori_core/lib/src/user.dart
  pkgs/nitori_core/lib/src/user.g.dart
Labels: package:nitori_core

refactor: migrate all core instances to use named parameter type (#17)
  pkgs/nitori_core/example/nitori_core_example.dart
  pkgs/nitori_core/lib/src/channel.dart
  pkgs/nitori_core/lib/src/channel.g.dart
  pkgs/nitori_core/lib/src/guild.dart
  pkgs/nitori_core/lib/src/guild.g.dart
  pkgs/nitori_core/lib/src/guild_member.dart
  pkgs/nitori_core/lib/src/guild_member.g.dart
  pkgs/nitori_core/lib/src/guild_role.dart
  pkgs/nitori_core/lib/src/guild_role.g.dart
  pkgs/nitori_core/lib/src/login.dart
  pkgs/nitori_core/lib/src/login.g.dart
  pkgs/nitori_core/lib/src/message.dart
  pkgs/nitori_core/lib/src/message.g.dart
  pkgs/nitori_core/lib/src/user.dart
  pkgs/nitori_core/lib/src/user.g.dart
Labels: package:nitori_core

fix: workflow permission required
  .github/workflows/health.yml
  .github/workflows/publish.yml
Labels: infra

fix
  .github/workflows/publish.yml
Labels: infra

ci: fix workflow permission required (#18)
  .github/workflows/health.yml
  .github/workflows/publish.yml
Labels: infra

ci: enable manually workflow dispatch for dart ci
  .github/workflows/dart.yml
Labels: infra

ci: enable manually workflow dispatch for dart ci (#19)
  .github/workflows/dart.yml
Labels: infra

ci: fix ci workflow by update workflow
  .github/workflows/dart.yml
  tool/ci.sh
Labels: infra

fix: remove trigger
  .github/workflows/dart.yml
Labels: infra

fix lint error
  pkgs/nitori_core/lib/src/base.dart
Labels: package:nitori_core

fix format
  pkgs/nitori_core/lib/src/guild.dart
  pkgs/nitori_core/lib/src/login.dart
  pkgs/nitori_core/lib/src/message.dart
Labels: package:nitori_core

ci: fix ci workflow by update workflow (#20)
  .github/workflows/dart.yml
  pkgs/nitori_core/lib/src/base.dart
  pkgs/nitori_core/lib/src/guild.dart
  pkgs/nitori_core/lib/src/login.dart
  pkgs/nitori_core/lib/src/message.dart
  tool/ci.sh
Labels: infra, package:nitori_core
